# Compiled
*.pyc
*.db
*.flv
*.wmv
CACHE
static/my.jobs.css

# Editor aritfacts
*~
*-
*#
.project
.pydevproject
.tmp*
content_226
.coverage
*.swp
dev_setting*
.idea

# Secret Stuff
secrets*

# Log Files
*.log
logfile
comparison_log/*.json

# OS generated
.DS_Store*
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
*.directory
*.settings
.directory

# Secret stuff. Shhhhh.
secrets.py
newrelic.ini

settings.py
