<html>
<head>
    <title>Something went wrong when processing your request!</title>
</head>
<body>
    <div style="margin-top:50px;font-weight:bold;font-size:18px;text-align:center">
        Something went wrong when processing your request!
    </div>
    <div style="margin-top:30px;font-weight:normal;font-size:14px;text-align:center">
        <div style="width:370px;margin:auto;text-align:left">
            We apologize, the provided information does not match any job in our database.<br><br>
            It is possible that a typo could have been made (I (uppercase i), l (lowercase L), and 1 (one), among others, can look very similar).
        </div>
    </div>
</body>
</html>