{% extends 'base.html' %}
{% block title %}
    <title>Job no longer exists!</title>
{% endblock %}

{% block content %}
    <div id="expired-job">
        <h4>
            Job posting no longer exists!
        </h4>
        <div class="row">
            <div class="span8">
                <p><b>{{ title }} ({{ location }})</b></p>
                <a href="{{ expired_url|safe }}" class="expired-link">{{ expired_url }}</a>
                <p>We apologize, this job posting is no longer available as it was recently removed from the originating site.</p>
                <a href="{{ browse_url }}">View all current jobs for {{ company_name }}.</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block ga_page %}/redirect/expired/{% endblock %}

{% block ga_title %}Redirect Expired{% endblock %}
