<!DOCTYPE html>
<html>
<head>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@usdotjobs">
    <meta name="twitter:title" content="US.jobs - {{ title }} - {{ company }}">

    <!--
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image:src" content="http://foo.bar/img.png">
    <meta property='og:description' content='The US.jobs National Labor Exchange is a free job search service of DirectEmployers Association.' />
    <meta property='og:image' content='http://profile.ak.fbcdn.net/hprofile-ak-ash2/50226_125241814265748_362796096_n.jpg' />
    -->

    <title>US.jobs - {{ title }} - {{ company }}</title>
</head>
</html>